* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    line-height: 1.6;
}


main {
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    background: #fff;
    border-radius: 50px;
}


header {
    background: #333;
    color: #fff;
    padding: 15px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 15px;
}